<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HEICalcServlet</servlet-name>
        <servlet-class>HEICalcServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HEICalcServlet</servlet-name>
        <url-pattern>/HEICalc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IdentityServlet</servlet-name>
        <servlet-class>IdentityServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IdentityServlet</servlet-name>
        <url-pattern>/getNewUserID</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StringTestServlet</servlet-name>
        <servlet-class>StringTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StringTestServlet</servlet-name>
        <url-pattern>/getStringHEI</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecommenderServlet</servlet-name>
        <servlet-class>RecommenderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RecommenderServlet</servlet-name>
        <url-pattern>/recommend</url-pattern>
    </servlet-mapping>

</web-app>